/* body{font-family: 'Amatic SC', cursive;
    font-family: 'Staatliches', cursive;
margin: 0 auto;
 background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    rgb(239, 57, 245) 89%,
    rgb(220, 116, 240) 100%
  )}

h2 {font-family: Amatic SC;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        color: rgb(45, 33, 45);
    text-align: center;
margin: 0 auto;
margin-bottom: 25px;}
h3 {font-family: Amatic SC;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color: rgb(249, 195, 249);
margin: 0 auto;}

div {margin: 0 auto;}

ul {padding: 0;
width: 850px;
margin: 0 auto;
list-style: none;
}

.part-start {background-color: rgb(247, 173, 255);
height: 60px;
width: 870px;}
.part-one {background-color: rgb(194, 145, 240);
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    width: 870px;}
.part-two {background-color: rgb(127, 127, 239);
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 870px;}
.part-tre {background-color: rgb(242, 85, 85);
    margin-bottom: 25px;
    width: 870px;}
.part-for {background-color: rgb(246, 199, 81);
    height: 1638px;
    width: 870px;}

.main-menu-list {padding: 14px;
    width: 484px;
    margin: 0 auto;
    list-style: none;}

.menu-link {text-decoration: none;
    font-family: Amatic SC;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color: rgb(245, 222, 245);
float: left;
margin-right: 40px;
cursor: pointer;}
.menu-link:hover {color: rgb(36, 21, 36);
    transition: 500ms;}

.float li{
    width: 250px;
    outline: 2px solid #fff;
    background-color:rgb(63, 4, 51);
    color: aliceblue;
    float: left;
    font-size: 18px;
    font-style:initial;
    font-weight: 200;
    margin: 0;
    padding: 10px;
}
.float li:not(:nth-child(3n)){margin-right: 20px;}
.float li:not(:nth-last-child(-n+3)){margin-bottom: 20px;}
.clearfix {display: table;
content: '';
clear:both}

.color-item {width: 250px;
outline: 2px solid #fff;
color: #0E1116;
float: left;
    font-size: 18px;
    font-style:initial;
    font-weight: 200;
    margin: 0;
    padding: 10px;
    background-color: #f7f7f7}

.color-item:not(:nth-child(3n)){margin-right: 20px;}
.color-item:not(:nth-last-child(-n+3)){margin-bottom: 20px;}
.color-item:nth-child(3n+1){background-color: #88292F;}
.color-item:nth-child(3n+2){background-color: #5DB7DE;}
.color-item:nth-child(3n+3){background-color: #0D5D56;}

    .url-simbol {text-decoration: none;
    color: beige;
font-size: 30px;}
.url-simbol:hover {color: #0D5D56}
.url-simbol::before{
    content: "\2192";}

.simbol li{width: 172px;
    outline: 2px solid #fff;
    color: #0E1116;
    float: left;
    margin: 0;
    padding: 10px;
    background-color:#35a8d9}

.simbol p {color: rgb(237, 237, 232);}

    .simbol li:not(:nth-child(4n)) {margin-right: 27px;}
    .simbol li:not(:nth-child(-n+2)) {margin-bottom: 27px;}
    .simbol li:nth-child(4n+1) {background-color: rgb(24, 119, 87);}
    .simbol li:nth-child(6) {background-color: rgb(24, 119, 87);}
    .simbol li:nth-child(10) {background-color: rgb(24, 119, 87);}
    .simbol li:nth-child(11) {background-color: rgb(24, 119, 87);}

    .counter {counter-reset: V;
    display: block;
align-items: center;}

.counter-list h3{color: #0D5D56;
counter-increment: V;
font-size: 30px;
display: inline-block;}

.counter-list {width: 820px;
outline: 4px solid #0D5D56;
padding: 15px;
margin-bottom: 15px;}
.counter-list p {color: #ffffff;
text-shadow: #0E1116;}
.counter-list h3::before{
    content: counter(V, lower-roman);
color: #fff;
font-size: 40px;
margin-right: 10px;}

.counter-list:nth-child(2n+1) {background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%
  );}
  .counter-list:nth-child(2n+2) {background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(329deg 100% 36%) 8%,
    hsl(17deg 100% 59%) 17%,
    hsl(55deg 100% 50%) 25%,
    hsl(28deg 100% 66%) 33%,
    hsl(342deg 100% 73%) 42%,
    hsl(297deg 47% 63%) 50%,
    hsl(223deg 97% 75%) 58%,
    hsl(197deg 99% 64%) 67%,
    hsl(181deg 70% 69%) 75%,
    hsl(195deg 81% 61%) 83%,
    hsl(210deg 70% 62%) 92%,
    hsl(253deg 38% 60%) 100%
  );}

  .pictur-background {width: auto;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 5px 5px 10px 10px hsla(0,0%,0%,0.5);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9)),
    url("/img/zatushok.jpg");
    background-size: cover;}

.papa
{width: 600px;
height: 600px;
padding-top: 100px}

.position {
position: relative;
margin:0 auto;
width: 400px;
height: 400px;
background-color: #424242;
box-shadow: 5px 5px 10px 10px hsla(0,0%,0%,0.5);}

.position-item{
    position: absolute;
    width: 100px;
    height: 100px;}
.one{background-color: #0D5D56;
top: 0;
left: 0;}
.two{background-color: #9b0e0e;
top: 50%;
left: 0;
transform: translateY(-50%);}
.tre{background-color: #35a8d9;
top: 100%;
left: 0;
transform: translateY(-100%);}
.for{background-color: #9F3919;
top: 0;
left: 50%;
transform: translateX(-50%);}
.five{background-color: #5454D4;
    top: 50%;
    left: 50%;
transform: translate(-50%, -50%);}
.six{background-color: #A5DEFF;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);}
.seven{background-color: #FF7143;
    top: 0;
    left: 100%;
transform: translateX(-100%);}
.eight{background-color: #a821ce;
    top: 50%;
    right: 0;
transform: translateY(-50%);}
.nin{background-color: #5d590d;
    bottom: 0;
    right: 0;} 

   
    
   .box {width: 1200px;
margin: 0 auto;}

.menu, .submenu {list-style: none;
text-align: center;}
.menu {font-size: 40px;
padding: 20px;}
a {text-decoration: none;
color: black;
padding: 15px 30px;
background-color: rgb(255, 255, 255);
border: 2px solid #424242;}

.submenu-item{margin-bottom: 14px;}

.submenu a {font-size: 24px;}
.menu-item, .cubmenu-item {display: inline-block;}

.menu-item {position: relative;}
.submenu {position: absolute;
right: 0px;
top: 65px;
display: none;}
.menu-item a:hover{background-color: #e13c9a;
color: white;}
.menu-item:hover>.submenu {display: block;} */

body{font-family: 'Rutenia', serif;
    min-width: 90vh;
    }
/* MENU */
header{
display: flex;
justify-content: space-around;
align-items: center;}

.ukrlogo {width: 240px;}
.menu-list, .submenu-list {list-style: none;}
.menu-list a{text-decoration: none;
font-size: 36px;
color: #0458b8;
padding: 12px 38px;}
.main-menu a:hover {
    background-color:#fad304;
    transition-duration: 400ms;
}
.menu-item {position: relative;}
.submenu-list {
    display:none;
position: absolute;
top: 55px;
left: 21px;}


.menu-item:hover>.submenu-list {display: block;}

.submenu-list a{text-decoration: none;
    font-size: 20px;
    color: #fad304;
    padding: 8px 16px;
}
.submenu-list a:hover {
    background-color:#0458b8;
    transition-duration: 400ms;
}
.submenu-item {margin-bottom: 20px;}
.menu-list {display: flex;}

/* ABOUT US  */
.about-us, .photo, .team {
    display: block;
    margin: 0 auto;
    align-items: center;
    max-width: 1300px;
    margin-bottom: 52px;}
h2 {
    font-size: 40px;
    color:#ab8c04;
    margin: 24px 0;
}
.about {display: flex;
align-items: center;}
.about-us-picture {
    padding: 12px;
    box-shadow: 0 0 4px 1px rgb(4,60,116);   
}
.about-us-title {padding: 0 12px 0 36px;
position: relative;}
.about-us-picture img {width: 450px;}
h4 {font-size: 20px;
    color:#ab8c04;
    margin: 12px 0;}
.about-us-picture p{font-size: 16px;
    color:#043c74;}
p {font-size: 20px;
    line-height: 30px;
        color:#043c74;
    margin-bottom: 12px;}

    .tank {width: 322px;
float: right;}
.flag {width: 150px;
    float: left;
margin-right: 10px;}
.molotv {width: 160px;
    float: right;}
.together{width: 133px;
    float: left;
    margin-right: 10px;}
    
    /* PHOTO */
.blok-photo {display: flex;
flex-wrap: wrap;}
.box-photo {padding: 12px;
    box-shadow: 0 0 4px 1px rgb(4,60,116);}
    .some-photo {width: 395px}
.box-photo:nth-child(1n) {margin-right: 14px;} 
.box-photo:nth-last-child(n-3) {margin-bottom: 14px;}  

/* TEAM */
.blok-team {display: flex;}

.box-tem img {width: 395px;
margin-bottom: 16px;}
.box-tem img:hover {transform: rotateZ(5deg);
    transition-duration: 200ms}
.box-tem {padding: 12px;
    box-shadow: 0 0 4px 1px rgb(4,60,116);}
    .box-tem:hover { box-shadow: 0 0 16px 2px rgb(171,140,4);
        transition-duration: 200ms}
.box-tem:nth-child(1n) {margin-right: 14px;}

h3 {font-size: 28px;
    color: #ab8c04;
}
.box-tem h4 {color: #58796f;}
h3:hover {color:#fad304;
    transition-duration: 300ms
}
h3:hover {font-size: 32px;
    transition-duration: 200ms
}
.like {
display: block;
color: #0458b8;
background-color:#fad304;
font-family: Rutenia;
font-size: 28px;
border: none;
border-radius: 16px;
width: 200px;
height: 80px;
transition-property: width;
transition-property: color;
transition-property: background-color;
transition-duration: 400ms;
margin: 0 auto;
justify-content: center;}

.like:hover {color:#fad304 ;
    background-color:#0458b8;
    width: 300px;
cursor: pointer;}

/* FOOTER */

footer {background-color:#043c74;
height: 84px;}
.footer {max-width: 1300px;
    display: block;
    margin: 0 auto;
    align-items: center;
position: relative;}
footer h2 {color: #fad304;
padding-top: 10px;
margin: 4px 0;}
footer p {color: #fff;
font-size: 16px;}
.tank-footer {width: 320px;

bottom: 0;
right: 0;
position: absolute;}
